<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
    <form  action="/users" method="post">

            <div>

                <%=  %>

            </div>
    </form>

</head>
<body>

</body>
</html>